<!DOCTYPE html>
<html>

<head xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Routine</title>
    <link rel="stylesheet" href="/css/addmeeting.css">
</head>

<body>
    <main>
        <!-- <div class="container">
            <div class="row">
              
                <span class="anime">
                    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                        type="module"></script>
        
                    <dotlottie-player src="https://lottie.host/3baba0ef-5a9d-4113-8fdb-ccf3f220ec00/Vme3Q1TMwY.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                        autoplay></dotlottie-player>
        
        
                </span>
              
                <div class="con-form">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
                        </div>
        
                        <div>
                            <label for="appt">Choose a time for your meeting:</label>
        
                            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required />
                        </div>
                        <div>
                            <label for="appt">Choose a time for your meeting:</label>
        
                            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required />
                        </div>
                        <div>
                            <label for="start">Start date:</label>
        
                            <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01"
                                max="2018-12-31" />
        
                        </div>
        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div> -->

        <div >
            <div class="anime">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type="module"></script>
    
                <dotlottie-player src="https://lottie.host/3baba0ef-5a9d-4113-8fdb-ccf3f220ec00/Vme3Q1TMwY.json"
                    background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                    autoplay></dotlottie-player>
    
    
            </div> 
            <div class="con-form"> 
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                    </div>
    
                    <div>
                        <label for="appt">Choose a time for your meeting:</label>
    
                        <input type="time" id="appt" name="appt" min="09:00" max="18:00" required />
                    </div>
                    <div>
                        <label for="appt">Choose a time for your meeting:</label>
    
                        <input type="time" id="appt" name="appt" min="09:00" max="18:00" required />
                    </div>
                    <div>
                        <label for="start">Start date:</label>
    
                        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01"
                            max="2018-12-31" />
    
                    </div>
    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </main>

    <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

    <dotlottie-player src="https://lottie.host/3baba0ef-5a9d-4113-8fdb-ccf3f220ec00/Vme3Q1TMwY.json"
        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
 -->

</body>

</html>