body {
    background-image: url("/img/bodybgimg.jpg") ;
    background-color: rgba(0, 255, 255, 0.425);
    background-size: cover;
}

#tablerow {
    background-image: linear-gradient(rgb(153, 235, 197),rgb(209, 164, 235));
}

.btn-img {
    width: 20px;
}
.btn-edit{
    background-color: rgba(0, 0, 255, 0.357);
}
.btn-mail {
    background-image: linear-gradient(rgb(221, 157, 241), rgb(242, 198, 169)) !important;
}
.thead{
    background-image: linear-gradient(rgba(255, 0, 76, 0.44),rgba(0, 204, 255, 0.444));
}
.btn-delete{
    background-image: linear-gradient(rgba(242, 79, 46, 0.419),rgba(255, 149, 0, 0.488));
}